*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  margin: inherit;
  padding: inherit;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}